[2020-10-02 17:10] cawfehman opened #1 "formatting on syslog reference is bad"
It seems the information is good, but the way it's presented is terrible.  The frame cuts off half the columns, the scroll option is at the VERY bottom of the long list of rows.  usability is very low.

Docs URL:https://developer-docs.citrix.com/projects/netscaler-syslog-message-reference/en/12.0/

[2020-10-30 09:16] mokaADC opened #2 "Getting started"
Not getting started here.

I've made the playbook, then what?

I run ansible on the playbook, but get
[WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'
[WARNING]: Could not match supplied host pattern, ignoring: helloworld

Please be detailed in how to get running citrix.

Docs URL:https://developer-docs.citrix.com/projects/

[2020-11-09 07:18] RMehreen opened #3 "Test issue"
[Provide your feedback here]

Test issue: Trying to log a text issue.

Docs URL:https://developer-docs.citrix.com/projects/provisioning-services-sdk/en/1909/

[2020-11-19 05:56] guyrleech opened #4 "No URL for "[3] CitrixAuth Authentication Scheme v1""
The other two footnotes have URLs, this one doesn't so looking up the authentication scheme involves a search rather than direct click.

Docs URL:https://developer-docs.citrix.com/projects/storefront-services-api/en/latest/

[2020-12-15 11:42] bd5872 opened #5 "Issues with codehilite blocks"
There are a large number of instances of text mangling in the Advanced Policy Expression Reference, relating to the codehilite blocks.

In order to illustrate these, I'm referring to the "GET_URLSET_METADATA" section on the NVLIST_T page, as that is the first place it appears on that page, but it occurs many times.

The codehilite block seems to be including elements that should not be included. F

[2020-12-18 15:05] j81blog opened #6 "ospfarea property wrong Maximum value?"
ospfarea | <Double>
Maximum value = 4294967294**LU**

The maximum value is of type  Double, think the adition of "LU" is wrong
Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/configuration/ns/nsip/

[2020-12-18 15:07] j81blog opened #7 "ospfarea property wrong Maximum value?"
ospfarea | <Double>
Maximum value = 4294967294**LU**

The maximum value is of type  Double, think the addition of "LU" is wrong
Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/configuration/ns/nsip6/

[2020-12-18 15:09] j81blog opened #8 "buffersizemb property wrong Maximum value?"
buffersizemb | <Double>
Maximum value = 4294967294**LU**

The maximum value is of type Double, think the addition of "LU" is wrong
Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/configuration/ns/nsweblogparam/

[2020-12-18 15:11] j81blog opened #9 "Double parameter in request payload"
Under the operation section update, Request Payload is a double mention of the following parameter
"bypasssafetycheck":<String_value>

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/configuration/rewrite/rewriteaction/

[2021-01-14 21:24] jeffgrantinct opened #10 "doesn't show any prerequesite steps like creating server, service, vip, binding it, etc. want to see the whole process via CLI"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/netscaler-command-reference/en/12.0/lb/lb-vserver/lb-vserver/

[2021-01-28 14:34] #3 closed, assigned to nobody

[2021-01-28 19:42] AtumVirt opened #11 "Formatting in command reference is mangled for every example"
Formatting on virtually every single example throughout the docs is mangled and makes them incorrect for difficult to read.  For example, see this under the "Example" heading

Example¶
i) bind cs vserver csw-vip1 -policyname csw-policy1 -priority 13 ii) bind cs vserver csw-vip2 -policyname csw-ape-policy2 -priority 14 -gotoPriorityExpression NEXT iii) bind cs vserver csw-vip3 -policyname rewrite-p

[2021-01-28 19:45] AtumVirt opened #12 "No example at all under "add cs vserver""
There is clearly no example of add cs vserver under the section.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/cs/cs-vserver/#example

[2021-01-29 14:20] kurtcoll commented on #2
@subbendumajumder - It looks like this link is no longer valid, since the repo has been redirected to citrix-adc-ansible-modules instead. From that documentation, it links to a github repo that contains the modules and detailed documentation. Can you confirm that this is the case and ensure that the information requested is available there?

[2021-01-29 14:51] bethp25 opened #13 "Placeholders in document"
There are placeholders in this article that say FIXME.

Please correct and update.

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/Monitor/Get-MonitorConfiguration/

[2021-02-21 22:29] AtumVirt opened #14 "Mandatory parameter"
Please mark HostBaseUrl as mandatory in the cmdlet and docs.  This parameter is required for a 'default' (aka blank) install, which will be extremely common during official upgrade procedures.  Therefore, it makes sense to make it required all the time.  Also you could BOLD the note in description.

Docs URL:https://developer-docs.citrix.com/projects/storefront-powershell-sdk/en/latest/Import-STFC

[2021-02-22 20:50] crystal-citrix opened #15 "NSTRACE for CPX is missing"
Please also add the example for capture nstrace on a CPX

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/usecases/packet-trace/#start-recording-a-packet-trace

[2021-02-24 09:53] mkallesoe opened #16 "Missing variable username"
When i add a user via the gui, and then look into nitro.log.
I see a variable called "username" being used, but its not in the docs.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/configuration/system/systemgroup_systemcmdpolicy_binding/

[2021-02-26 19:11] joshgibs opened #17 "API reference unusable in Mac OS Big Sur Chrome or Safari"
The left-hand columns are unusable.  They flicker non-stop. This is a regression from previous website docs.

Mac OS 11.2.1
Safari 14.0.3
Chrome 88.0.4324.192

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/?_ga=2.248779207.1375957459.1614365942-376611464.1614365942

[2021-02-26 21:06] kurtcoll commented on #17
@joshgibs - We're unable to reproduce this issue at the moment. I'm closing the ticket, but will keep an eye out for any other information about the issue.

[2021-02-26 21:06] #17 closed, assigned to nobody

[2021-03-02 10:20] busch opened #18 "HTTP.REQ.USER.ATTRIBUTE(1) should be AAA.USER.ATTRIBUTE(1)?"
Citrix ADC shows a warning in GUI when configuring HTTP.REQ.USER.ATTRIBUTE(1)

`HTTP.REQ.USER has been deprecated. Use AAA.USER instead.`

So it seems that the documentation is incorrect?

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-advanced-policy-expression-reference/en/latest/aaa_user_t/aaa_user_t/

Best Regards,
Michael

[2021-03-09 04:13] rd636 opened #19 "argument details missing from doc"
pagination and rawdata arguments are missing from the documentation:

&rawdata=yes&pagesize=25&pageno=1

Also missing is the sortBy possible values.

Docs URL:https://developer-docs.citrix.com/projects/netscaler-nitro-api/en/12.0/statistics/stream/streamidentifier/#get-all

[2021-03-10 16:39] davidgreen99 commented on #4
Merged PR https://github.com/citrix/storefront-store-services-api/pull/1 to add link in footnote

[2021-03-10 16:39] #4 closed, assigned to davidgreen99

[2021-03-11 13:54] davidgreen99 commented on #14
@AtumVirt Thanks for the suggestion but our SMEs disagree.
We should not mark it as Mandatory. **hostBaseUrl** parameter is not mandatory in all use cases.
We need this value in the following use cases, which are clearly mentioned in the Parameter section:

- HostBaseURL required if we want to change a different HostBaseURL other than the one contained in the configuration backup.
- HostBaseURL re

[2021-03-11 13:54] #14 closed, assigned to davidgreen99

[2021-03-11 13:54] davidgreen99 commented on #14
No defect.

[2021-04-08 20:42] busch commented on #18
Anybody?

Best Regards,
Michael

[2021-04-09 12:37] subbendumajumder commented on #18
Hi @Busch,

Thank you for the information and feedback you provided.

The citrix-adc-advanced-policy-expression-reference is autogenerated from the code. The engineering team is working on it.

Will generate and refresh this reference doc by end of next week (18th April).

[2021-04-17 07:14] yuhual opened #20 "Missing custom properties needed to create catalog"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/MachineCreation/New-ProvScheme/

This page needs a major update because it misses many custom properties needed to create catalog on Azure, GCP, etc

[2021-04-20 11:33] davidgreen99 commented on #13
Emailed @himanshua or @vikramjeets for assistance.

[2021-04-20 13:30] davidgreen99 opened #21 "Incorrect formatting of CVAD SDK documentation articles"
Some articles in the CVAD SDK documentation contain incorrect markdown which makes them very hard to read.

Repo lives here: https://github.com/citrix/citrix-virtual-apps-desktops-sdk

Example of the issue: See Return Values and Notes sections!
page https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/MachineCreation/Publish-ProvMasterVMImage/
raw md file: https://

[2021-04-20 15:57] davidgreen99 commented on #21
Tracking in https://issues.citrite.net/browse/BRK-8304

[2021-04-23 16:08] jantytgat opened #22 "Layout issues"
The layout is not optimal, as the column with syslog messages is not wide enough.
There is a lot of white space, left and right, that squeezes the content too much.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-syslog-message-reference/en/latest/

[2021-04-23 16:43] kurtcoll commented on #22
@subbendumajumder - I believe there are two solutions for this:

- Fix table format on the backend
- Take the content out of a table.

The second option is preferable, since navigating tables this big can be a huge pain.

[2021-04-27 02:01] AtumVirt opened #23 ""probe server" command not documented"
Release notes make mention of this, and the "Test LDAP connectivity" / "Test RADIUS connectivity" functionality use it (as divined from the ns.log).  This command should be added to the command reference, please.

(It's also not in the tab-complete in the firmware)

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/

[2021-04-27 22:42] rd636 opened #24 "errors in nitro api doc for configpacks"
<config_id_value>/configpacks/<config_id_value>
should be:
/configpacks/<config_id_value>

Table of contents also missing other verbs: delete, update, etc.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adm-nitro-api-reference/en/latest/configuration/stylebooks/configpacks/

[2021-05-06 14:07] davidgreen99 commented on #13
PINGED reminder email 6/5/21

[2021-05-06 14:31] yanlafrance opened #25 "missing format"
Hi,
the doc when you scroll to the right side is missing the syslog format. this happened time to time

Docs URL:https://developer-docs.citrix.com/projects/netscaler-syslog-message-reference/en/12.0/

[2021-05-06 14:36] kurtcoll commented on #25
@subbendumajumder @sreejithgs - It looks like this content exists in the later versions of the doc, but not in the 12.0 doc. Can the old doc be fixed, or is the new doc preferred?

[2021-05-06 14:38] yanlafrance commented on #25
Hi,
I will take the new doc, but google bring me there. I didn’t find the new one

yan

Yan Lafrance
M  +1 514-942-0080

From: kurtcoll ***@***.***>
Date: Thursday, May 6, 2021 at 10:37 AM
To: citrix/devdocs-issue-collector ***@***.***>
Cc: Yan Lafrance ***@***.***>, Author ***@***.***>
Subject: Re: [citrix/devdocs-issue-collector] missing format (#25)
[CAUTION - EXTERNAL EMAIL] DO NOT reply, clic

[2021-05-06 14:49] kurtcoll commented on #25
@yanlafrance From the page you found (or any page, for future reference), you can click "Versions" on the left and then click "Latest" to get the docs for the most up-to-date version of the product.

[2021-05-06 14:54] yanlafrance commented on #25
I see, thx for the training this morning . Another problem I see with this excel sheet embedded into a web page, I’m currently responding to an RFP and I need to provide that list. The only way I see that I can export this list is by doing a print of the page, the print option of the browser is not that intelligent and will only show what is display at my screen. Is there a way to get the list or

[2021-05-06 15:07] kurtcoll commented on #25
@yanlafrance We don't have any plans to enhance the functionality of the site at the moment. The best I can offer is the following advice:

Download the page as a .html file (right click > save as).
Open the HTML file in notepad or something similar.
Copy the table HTML data (starts with `<div class="md-typeset__scrollwrap"><div class="md-typeset__table"><table>` and ends with `</table></div></div

[2021-05-06 15:07] #25 closed, assigned to subbendumajumder, sreejithgs

[2021-05-06 15:17] yanlafrance commented on #25
Thx for the tips. I will give a try

yan

Yan Lafrance
M  +1 514-942-0080

From: kurtcoll ***@***.***>
Date: Thursday, May 6, 2021 at 11:08 AM
To: citrix/devdocs-issue-collector ***@***.***>
Cc: Yan Lafrance ***@***.***>, Mention ***@***.***>
Subject: Re: [citrix/devdocs-issue-collector] missing format (#25)
[CAUTION - EXTERNAL EMAIL] DO NOT reply, click links, or open attachments unless you have

[2021-05-06 15:22] davidgreen99 commented on #20
Citrix Virtual Apps and Desktops SDK republished as version 2103 on 29/4/21:
https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

@yuhual Please confirm that this issue is recolved.

[2021-05-11 09:06] chezzer64 opened #26 "Power Query Invalid Identifier Citrix-CustomerId"
Had problems getting the PowerQuery code to work as stated in the article as it complained that Citrix-CustomerId was an invalid identifier - didn't seem to like the hyphen character.
Resolved by updating the query to use  #"Citrix-CustomerId"

Docs URL:https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/

[2021-05-11 09:17] chezzer64 commented on #26
<img width="758" alt="PQ-Error" src="https://user-images.githubusercontent.com/30706006/117791209-f9e3b400-b241-11eb-84df-3843391e41e5.png">
<img width="758" alt="PQ-Fix" src="https://user-images.githubusercontent.com/30706006/117791237-ff40fe80-b241-11eb-9f56-0ace5b0f8993.png">

[2021-05-11 18:47] kurtcoll commented on #26
@subbendumajumder @sreejithgs - Do you know who is responsible for these docs?

[2021-05-12 04:33] RMehreen commented on #26
Hey @ravibharathcitrix - Not too sure if you'll update this doc set. Can you please take a look/direct it to the right person to look into this query. Thanks!
cc @kurtcoll

[2021-05-17 23:03] bunnis opened #27 "syslog-message-reference issues"
[Provide your feedback here]

1-It is not possible to view the full collumns without scrolling to the side.
2-There should be the possibility to download the syslog reference as a PDF.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-syslog-message-reference/en/12.1/

[2021-05-18 13:03] kurtcoll commented on #27
@bunnis - Thank you for your feedback. We're aware of the issue with the table, but there are no plans to enhance the functionality of the developer docs site at this time. The same goes for PDF generation. As a workaround, you can do the following for the time being:

1. Download the page as a .html file (right click > save as).
2. Open the HTML file in notepad or something similar.
3. Copy the t

[2021-05-18 16:09] bunnis commented on #27
Unfortunate that the docs have always been a weak point with Citrix :(

[2021-05-19 09:34] gunasctxs opened #28 "Legacy URL shown"
[Provide your feedback here]

All the URLs in examples link below should also show URLs listed at https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/

Docs URL:https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/examples/

[2021-05-19 13:18] kurtcoll commented on #28
@ravibharathcitrix Please look into this. Also, I notice that these two pages are in the same doc set, but the example page isn't part of the TOC on the left. Is that intentional?

[2021-05-20 05:52] yuhual opened #29 "inconsistent documentation"
if I follow links from https://developer.cloud.com/citrixworkspace -> https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/, I don't see command "Unpublish-Provmastervmimage"  under MachineCreation

But if I go to CVAD service link https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/  "Unpublish-Provmastervmimage"  under Ma

[2021-05-20 06:05] yuhual opened #30 "flickering when I hover mouse over cmdlet list"
I am using chrome browser and if I expand category list at left side, it will list cmdlets.  For example, if I click MachineCreation, it will have a pretty long list of cmdlet

If I want to browse the list, I hover mouse over the list and start scroll.  most of time, the list start to flicking.  Also, if I move my mouse away, the list goes back to beginning so I lost my context, i.e. the cmdlet th

[2021-05-20 06:33] RMehreen commented on #30
Hello @yuhual

Thank you very much for the information and feedback you provided. Your time and effort in providing feedback is greatly appreciated. This is a known issue. We are working with our technical team to get this issue fixed.

Regards
Mehreen

[2021-05-20 13:22] kurtcoll commented on #29
@yuhual -

Thank you for your feedback on this issue. I've added the cmdlet to the table of contents on the left side of the CVAD SDK docs.

[2021-05-20 13:22] #29 closed, assigned to nobody

[2021-05-27 10:49] davidgreen99 commented on #20
Silence from reporter. Closing.

[2021-05-27 10:49] #20 closed, assigned to davidgreen99

[2021-06-02 19:24] mav-cloud opened #31 "Typo under Detailed Description"
I think you have a typo in the sample code:
Remove-BrokerApplication -DesktopGroup \$group1 Add-RemoveApplication -DesktopGroup \$group2

should be:
Remove-BrokerApplication -DesktopGroup \$group1 Add-**Broker**Application -DesktopGroup \$group2

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/Broker/Set-BrokerApplication/

[2021-06-09 20:32] guyrleech opened #32 "Example is no help"
uses $xml but what is $xml?

Also, the cmdlet has two distinct parameter sets but these are not documented at all which also means there needs to be at least two examples.

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/CentralConfig/Import-ConfigFeatureTable/

[2021-06-10 10:11] davidgreen99 commented on #31
Created Jira https://issues.citrite.net/browse/BRK-8733 for engineering fix.

[2021-06-10 15:28] davidgreen99 commented on #32
Created Jira https://issues.citrite.net/browse/BRK-8743

[2021-06-22 09:38] #31 closed, assigned to davidgreen99

[2021-06-22 09:39] davidgreen99 commented on #31
BRK-8733 fixed and closed. The SDK docs article will be republished and visible soon.

[2021-07-07 15:18] nsjoseph opened #33 "CVAD Service Remote PowerShell SDK Cmdlet Documentation contains disabled cmdlets, is missing cmdlets"
Per the product documentation (https://docs.citrix.com/en-us/citrix-virtual-apps-desktops-service/sdk-api.html#citrix-virtual-apps-and-desktops-remote-powershell-sdk) there are numerous cmdlets that are not supported/enabled with the Remote PowerShell SDK and CVAD Service - yet they are still documented in the SDK as if they are. It seems unnecessary to have these documented if they cannot functio

[2021-07-07 16:52] kurtcoll commented on #33
@davidgreen99 - Please look into this.

[2021-07-08 10:33] davidgreen99 commented on #33
Internal Jira ticket created to fix these doc issues: https://issues.citrite.net/browse/PDDADV-1006

[2021-07-13 19:10] metadaddy opened #34 "Link to RFC2617 is broken"
The [plain http link](http://tools.ietf.org/html/rfc2617) returns 404; these links require https now - this one works:

https://tools.ietf.org/html/rfc2617

Docs URL:https://developer-docs.citrix.com/projects/storefront-authentication-sdk/en/latest/citrixauth-authentication-scheme/

[2021-07-13 20:12] kurtcoll commented on #34
@davidgreen99 - Very minor fix here.

[2021-07-21 12:44] #34 closed, assigned to davidgreen99

[2021-07-21 12:44] davidgreen99 commented on #34
Link corrected and article republished.

[2021-07-21 18:47] CTXmatthias opened #35 "Bad Example?"
[Provide your feedback here]
Hello

I am very new to programming and doing these post calls. I found the examples very difficult to follow, and needed to escalate this to several Sales Tech Engineers to get proper assistance. Even the Nitro API is very difficult to make out and is not clear.

Can you please provide full working examples? And not have snippets of code. The snippets of code may work

[2021-07-21 18:51] kurtcoll commented on #35
@subbendumajumder - I believe this is your team.

[2021-08-05 01:35] jvalente-salemstate opened #36 "Syslog Reference formats broken in many cases"
I see a few issues already about the format of the page, which are also very difficult to work with, but do have workarounds.

However, a few things stand out beyond this

* Several of the formats are just listed as "maxprintsize)" or something similar, indicating some sort of error not being spotted before posting documentation
* None of the formats have spaces where they should be, e.g. ""sessio

[2021-08-09 15:25] kurtcoll commented on #36
@subbendumajumder - This looks like an issue at the code/doc conversion level.

[2021-08-20 21:10] Adjusted1 opened #37 "dl link?"
Where is the sdk library download link? or info on how to get?

Docs URL:https://developer-docs.citrix.com/projects/workspace-app-for-linux-domain-pass-through/en/latest/credential-insertion-sdk/

[2021-08-29 05:16] lwang-79 opened #38 "ADM perf report, report_level?"
Try to get the daily performance from the perf reports. But the responses are all in 5 minutes. Tried report_level as args from 0 to 5, but the results are no different.

https://developer-docs.citrix.com/projects/citrix-adm-nitro-api-reference/en/latest/configuration/network-reporting/perf_ns_throughput_report/

[2021-09-01 18:57] kurtcoll commented on #38
@subbendumajumder - I'm not sure this is a doc issue. Seems like something that may need to be taken up with support, but I'll leave that to your judgement.

[2021-09-13 16:50] ZeroAccess opened #39 "CSS is broken"
[CSS for Tags is broken]
Synopsys {#synopsys-1 style="margin-left: 20px;"}

Docs URL:https://developer-docs.citrix.com/projects/netscaler-sdx-command-reference/en/latest/system/snmpmanager/

[2021-09-20 00:48] AtumVirt opened #40 "API docs do not include ADC 13.1"
Docs only include 13.0 ADC API, not 13.1.    looking for documentation on new usage of batchapi introduced in 13.1

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/

[2021-09-20 13:01] kurtcoll commented on #40
@subbendumajumder - An issue for your team. Seems like a version of the docs is missing.

[2021-09-29 18:51] alecuba opened #41 "broken link"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/n

[2021-10-05 04:39] metadaddy opened #42 "Please format code snippets with monospaced text"
The code snippets in the Broker Filtering page (and, some other pages, such as [Post-Installation Configuration](https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/Broker/about_Broker_PostInstallPreConfiguration/)) blend into the surrounding text:

Please consider calling out code with a monospaced font, both inline, and in blocks:

XenDesktop also needs

[2021-10-05 13:06] kurtcoll commented on #42
@davidgreen99 - Please make sure the right people see this.

[2021-10-07 07:10] CarlWebster opened #43 "CVAD 2109"
[Provide your feedback here]
When will the docs be updated to CVAD 2109?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2021-10-07 13:13] kurtcoll commented on #43
@davidgreen99 - Another one for you to run up the chain.

[2021-10-07 17:46] jondarojas opened #44 "ADM Nitro API Documentation Links broken"
All the API links are broken, get 404 responses.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adm-nitro-api-reference/en/latest/configuration/network-functions/Load%20Balancing/LoadBalancing/

[2021-10-08 21:42] kurtcoll commented on #44
@subbendumajumder - I started looking into this but got side tracked. It's likely incorrectly formatted links.

[2021-10-18 20:43] KyferEz opened #45 "Server hard to find under Basic. Also link errors in lb-vserver and errors and missing info with server reference pages."
The "add server" and "add service" command references are hard to find. They should be in the main menu or linked to by the items that use them such as LB Vservers.

Also none of the links work from this page "https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/lb/lb-commands/". For example, this link is for lb-vserver: "https://developer-docs.citrix.com/projects/citr

[2021-10-19 13:10] kurtcoll commented on #45
@subbendumajumder - Seems like some additional links need to be added/fixed.

[2021-10-19 13:13] akvileware opened #46 "Article names have wrong capitalisation and are hard to read"
Hi,

The article names are difficult to understand as they do not use the standard PowerShell capitalization rules.

For instance, the article on the function `Add-BrokerMachinesToDesktopGroup` appears as `Add-Brokermachinestodesktopgroup` in the title and the table of contents widget on the left. This makes it hard to read functions in the content and find the ones I need.

I am happy to collabor

[2021-10-21 17:33] alpha69dk opened #47 "Option to change ADC Password"
It seems there is a third option to accomplish password change:
In the payload you add a 3rd key value pair "new_password": "NewPassword"

This is useful with a freshly installed ADC, since this requires changing the nsroot password at first login.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/performing-basic-netscaler-operations/

[2021-10-28 18:28] CarlWebster opened #48 "Missing the rest of the sentence"
[Provide your feedback here]
"SharedImageGalleryReplicaMaximum: The maximum number of replicas for each shared image gallery version. This value is an integer greater than"

Greater than what?

Where is the rest of the sentence?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/MachineCreation/about_Prov_CustomProperties/

[2021-10-28 18:31] kurtcoll commented on #48
@davidgreen99 - Another one for you to coordinate with the team.

[2021-10-31 21:10] CarlWebster opened #49 "2109"
[Provide your feedback here]
When will this documentation be updated to reflect CVAD 2109?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/MachineCreation/Get-ProvScheme/

[2021-11-01 14:24] kurtcoll commented on #49
@davidgreen99 For the CVAD team.

[2021-11-02 08:54] artdoherty opened #50 "MachinesCount"
The MachinesCount metric is described as "Number of machines in this Desktop Group at the time of consolidation".  However, MachinesCount does not count non-power managed machines in the Desktop Group - description should reflect this.

Docs URL:https://developer-docs.citrix.com/projects/monitor-service-odata-api/en/latest/api-reference/Monitor.Model/#machinescount

[2021-11-02 10:58] davidgreen99 commented on #49
@CarlWebster I am hoping to get this published in next week.

[2021-11-02 11:03] CarlWebster commented on #49
Thanks. Did you know the Citrix Cloud Remote PoSH SDK is already at 2112?

I explained to Jose Augustine and Yuhua Lu about my CC doc script:

I update the CC doc script infrequently because I can't keep up with what y'all are adding/changing. The CTP Cloud is on 2012, another CC is on 2103, another is on 2106, and the Remote PoSH SDK is on 2112. I can't get consistent script results when the CC b

[2021-11-02 11:11] davidgreen99 commented on #49
2112 eh? Sounds like futureware to me! I'll investigate.

[2021-11-02 11:19] CarlWebster commented on #49
DisplayName: Citrix CVAD Remote Powershell SDK - Registry
DisplayVersion: 7.32

All the modules have a DisplayVersion of 7.32.24925.nnnnn

[2021-11-02 13:17] kurtcoll commented on #50
@ravibharathcitrix Please coordinate with engineering to update this documentation.

[2021-11-02 15:42] kaikos17 opened #51 "error in the documentation"
In the Access using MS Excel PowerQuery section, replace Citrix-CustomerId = "<YourCustomerId>" with #"Citrix-CustomerId" = "<YourCustomerId>"

Docs URL:https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/

Best regards,
Vincent Rombau
Solution Delivery Architect
Citrix
vincent.rombau@citrix.com

[2021-11-02 15:53] kurtcoll commented on #51
@ravibharathcitrix  - Another one for you to coordinate.

[2021-11-02 21:00] davidgreen99 commented on #49
@CarlWebster Where exactly do you see version 2112?

[2021-11-02 21:15] CarlWebster commented on #49
7.32 = 2112

Thanks

Carl Webster
Citrix Technology Professional Fellow | E2EVC Senator | IGEL VIP | Parallels VIPP | VMware vExpert 2021 |VMware vExpert EUC 2021 | VMware Influencer 100
http://www.CarlWebster.com<https://carlwebster.com/>
The Accidental Citrix Admin

From: davidgreen99 ***@***.***>
Sent: Tuesday, November 2, 2021 4:00 PM
To: citrix/devdocs-issue-collector ***@***.***>
Cc: Webster

[2021-11-03 12:50] josecitrix commented on #49
Hey @CarlWebster. The versions for the cloud modules are irrelevant/insignificant. The versions change depending on how we roll code out using our canary mechanisms. We typically update the remote POSH SDK to the downloads page every 3-6 weeks. What should be important from a customer admin perspective is that Remote POSH that has been published to our downloads page should work with all CVADS sub

[2021-11-03 16:30] graham-macdonald-citrix commented on #48
It should be "greater than 0".  As well the next bullet point "This property only applies..." belongs with this bullet point.  Looking at the source code, it looks correct:

[code]

is this possibly a bug in the website rendering engine?

[2021-11-03 16:40] CarlWebster commented on #48
It looks the same in Chrome, Edge, and Firefox.

![github](https://user-images.githubusercontent.com/7387263/140104034-b4801b32-23c5-4845-9a28-2d85578d467f.png)

[2021-11-03 16:52] davidgreen99 commented on #48
@CarlWebster We are investigating and taking action. In the meantime, full text should be:
"SharedImageGalleryReplicaMaximum: The maximum number of replicas for each shared image gallery version. This value is an integer greater than 0. This property only applies when the UseSharedImageGallery property is set to True. If this property is not specified, SharedImageGalleryReplicaMaximum is set to 10

[2021-11-03 16:55] kurtcoll commented on #48
@davidgreen99 - I took a look at the file in question, and the bullet that has issues is split into three lines, one of which is just "0." That "0." is probably rendering out of existence on the live docs. If the three lines are combined into one, or even just the first and second line, that should resolve it.

* SharedImageGalleryReplicaMaximum: The maximum number of replicas for each shared imag

[2021-11-03 17:14] davidgreen99 commented on #48
I concur.
Have created P1 https://issues.citrite.net/browse/PMCS-23390 which MCS team are actioning based on these suggestions>

@kurtcoll Please remind me: they get their changes into docs-incoming branch and you take it from there?

[2021-11-03 17:58] kurtcoll commented on #48
@davidgreen99 That's the process for an incoming release doc set. For a small issue, the branch doesn't matter so much. Any branch/PR will work fine.

[2021-11-04 20:36] CarlWebster opened #52 "FIXME"
[Provide your feedback here]

What are these two items?

InMemorySchemaAppliedVersion (System.Int32) FIXME
InMemorySchemaSupportedVersion (System.Int32) FIXME

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/Broker/Get-BrokerSite/

[2021-11-07 21:10] PrestonGallwasInde opened #53 "FailureLogSumamary or FailureLogSummary"
Failures section states table name is FailureLogSumamary which appears to be a typo.  Is it an error in the tablename or in the documentation?

Docs URL:https://developer-docs.citrix.com/projects/monitor-service-odata-api/en/latest/

[2021-11-09 09:22] ravibharathcitrix commented on #50
@artdoherty , @kurtcoll : Thanks for bringing this up. I have updated the docs after discussing with Mahesh Vangapalli. Please see: https://developer-docs.citrix.com/projects/monitor-service-odata-api/en/latest/api-reference/Monitor.Model/#machinescount

[2021-11-09 09:22] #50 closed, assigned to ravibharathcitrix

[2021-11-09 09:25] ravibharathcitrix commented on #51
@kaikos17 , @kurtcoll , the doc has been updated after discussing with Mahesh Vangapalli. Please see https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/

[2021-11-09 09:25] #51 closed, assigned to ravibharathcitrix

[2021-11-14 10:06] j81blog opened #54 ""current" Api docs contain 44 "broken" pages"
The following list (bottom) of URLs don't return the correct data
other URLs work, they don't have the addition of ".md" at the end.

I think this was changed when 31.1 came out (not sure).

Working (old version)
`https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/12.1/configuration/load-balancing/lbvserver_pqpolicy_binding/lbvserver_pqpolicy_binding/`

Broken (latest ver

[2021-11-23 18:17] rebctx opened #55 "CanLaunchManage doesn't function properly"
Hi Team,
Per customer feedback and BRK-6308, CanLaunchManage doesn't work as documented. Please reach out to me directly if further information is needed.

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/DelegatedAdmin/Set-AdminRole/

[2021-11-29 14:53] PySheriff opened #56 "Page Doesn't Fit All Contents"
[Provide your feedback here]

The page doesn't all related information about the webpage. Please consider redesigning the webpage to fit all contents without having to use navigation keys.

The page doesn't all related information about the webpage. Please consider redesigning the webpage to fit all contents without having to use navigation keys.

Docs URL:https://developer-docs.citrix.com/project

[2021-12-01 14:42] davidgreen99 commented on #49
@CarlWebster
CVAD 2109 SDK docs now published. Now visible https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2021-12-01 14:43] davidgreen99 commented on #43
@CarlWebster
CVAD 2109 SDK docs now published. See https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2021-12-01 14:49] CarlWebster commented on #49
Awesome, just in time for the 2112 release! LOL

OOPS! I don’t remember seeing this formatting issue before:

Using the Group Policy SDK
To create a virtual drive and load it with settings, type:
New-PSDrive &lt;Standard Parameters&gt; \[-PSProvider\]
CitrixGroupPolicy *-Controller* &lt;string&gt;
**New-PSDrive &lt;Standard Parameters&gt; \[-PSProvider\]
CitrixGroupPolicy ***-Controller*** &lt;str

[2021-12-01 14:52] CarlWebster commented on #52
This still exists in the 2109 update:

·         InMemorySchemaAppliedVersion (System.Int32) FIXME
·         InMemorySchemaSupportedVersion (System.Int32) FIXME

Thanks

Carl Webster

Citrix Technology Professional Fellow | IGEL VIP | Parallels VIPP | Experts Exchange Most Valuable Expert 2019 | VMware vExpert 2020 | VMware Influencer 100
http://www.CarlWebster.com
The Accidental Citrix Admin

Fro

[2021-12-01 15:22] CarlWebster opened #57 "Get-Brokersite"
[Provide your feedback here]
Why do many property types have a "?"? Is the author not sure of the data types?

BaseOU (System.Guid?)
ConnectionLeasingEnabled (System.Boolean?)
DefaultMinimumFunctionalLevel (Citrix.Broker.Admin.SDK.FunctionalLevel?)
LicensedSessionsActive (System.Int32?) [There are lots of these System.Int32?]
LicenseModel (Citrix.Broker.Admin.SDK.LicenseModel?)
LicensingBurnInDate

[2021-12-02 10:57] davidgreen99 commented on #49
@CarlWebster Thanks for spotting that. Please confirm this is the correct formatting:

[code]

[2021-12-02 11:22] CarlWebster commented on #49
From my CVAD V3.30 doc script:

New-PSDrive `
-psprovider citrixgrouppolicy `
-Name LocalFarmGPO `
-root \ `
-controller $AdminAddress `
-Scope “Global”

[
Webster: The Scope parameter was documented and used back in the XenApp 6.0 and 6.5 days. I have kept it in my scripts for consistency. I don’t see this parameter documented by Citrix now, but it is documented by Microsoft.

    -Scope <System.

[2021-12-02 11:54] davidgreen99 commented on #49
Thanks @CarlWebster
I have created Jira ticket https://issues.citrite.net/browse/PDDADV-1097 to track this doc improvement.

[2021-12-04 12:45] CarlWebster opened #58 "Missing Property"
[Provide your feedback here]
Why is the AzureAdJoinType property not documented here or the cmdlet's help text?

PS C:\Users\ctxadmin> Get-ProvScheme |select -first 1

AzureAdJoinType              : None

Also missing is ResetAdministratorPasswords  : False

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/MachineCreation/Get-ProvScheme/

[2021-12-05 12:43] CarlWebster opened #59 "AdminFolderName Property"
[Provide your feedback here]

What is the purpose of this property?

AdminFolderName (System.String) The name of the admin folder the catalog is in (including trailing backslash), or the empty string if the catalog is at the root level

I see no way to create an admin folder via the GUI or https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/Broker/New-Brok

[2021-12-05 12:46] CarlWebster opened #60 ""about" help"
[Provide your feedback here]
See about_Broker_Machines for more information.

Could you not make the "about_Broker_Machines" a clickable link that takes me to the specified "about" help topic?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/Broker/Get-BrokerCatalog/

[2021-12-06 10:51] CarlWebster commented on #59
I now see the \*-BrokerAdminFolder\* cmdlets, but I still see no way to use them for a MC or DG even though the properties exist

[2021-12-06 15:42] guyrleech opened #61 "ZoneUid and WorkgroupMachine parameters are not documented"
ZoneUid and WorkgroupMachine parameters are not documented - using version 7.30.0.8  of Citrix.ADIdentity.PowerShellSnapIn.dll

Docs URL:https://developer-docs.citrix.com/projects/delivery-controller-sdk/en/latest/ADIdentity/New-AcctIdentityPool/

[2021-12-15 11:01] #43 closed, assigned to davidgreen99

[2021-12-15 12:47] CarlWebster opened #62 "2112"
[Provide your feedback here]
Now that you updated to 2109, when will you update to 2112? :)

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2021-12-15 13:05] #32 closed, assigned to nobody

[2021-12-15 13:40] davidgreen99 commented on #30
See DOCDEVSIT-255 Flickering TOC bug - notified JoseA and WilliamC.

[2021-12-15 16:07] sophiajoseraymond commented on #49
Hi Carl Webster,
We have updated the Group policy SDK usage documentation as suggested by Jose Augustin. The updated pages are live at:

-  https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-service-sdk/en/latest/group-policy-sdk-usage/ 
-  https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/group-policy-sdk-usage/

 
Thanks,
Sophia Jose

[2021-12-15 16:07] #49 closed, assigned to nobody

[2022-01-05 15:28] haroldwi opened #63 "Multiple links result in "page not found""
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/12.1/

[2022-01-06 12:38] khanjan9 opened #64 "Display issue, content overflow"
Please find the attached snapshot showing display issue. Thanks
<img width="1788" alt="Screenshot 2022-01-06 at 6 06 43 PM" src="https://user-images.githubusercontent.com/28806629/148384087-4e58a6f6-80df-4086-95c0-e69fdfa9b23e.png">

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/network/fis/

[2022-02-03 12:44] katshann commented on #48
Seems like the fix made it through into the latest update of the docs. Looks OK now.

[2022-02-03 12:44] #48 closed, assigned to katshann

[2022-02-03 16:06] katshann commented on #13
Chased internally (DIR-15240)

[2022-02-04 02:42] koheiun opened #65 "regarding description about rnat connfailover."
[Provide your feedback here]

I found the new release that fixed description about rnat connfailover.
furthermore,13.0 and 13.1 will be fixed description at next release.because incorrect information.

if possible,could you please fix the description all of 12.0 / 13.0 /13.1 about rnat connfailover?

below is latest man command of 12.1

[code]

Docs URL:https://developer-docs.citrix.com/projects/c

[2022-02-16 07:50] Herbert-Karl opened #66 "Display Issue, missing content"
Some Pages on the DevDocs don't show their supposed content.
Example:
Opening the URL https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/lb/lb-commands/lb-monitor/ renders the following
![image](https://user-images.githubusercontent.com/34774005/154219582-e8b5ba1a-3ef2-4a79-8320-b185373312b4.png)

I face the problem in Edge Browser and Firefox.

[2022-02-21 09:50] mkallesoe opened #67 "nspbrs parameter missing apply option"
the apply option on this API call is not documented,
curl -k -u username https://<nsip>:443/nitro/v1/config/nspbrs -X POST --data  'object={"params":{"action":"apply","warning":"YES"},"nspbrs":{}}'

is working though.

Docs URL:https://developer-docs.citrix.com/projects/netscaler-nitro-api/en/latest/configuration/ns/nsconfig/

[2022-02-21 09:53] mkallesoe commented on #66
yes, this is so lol. its on/off for years now.

[2022-02-22 15:46] CarlWebster opened #68 "Missing Properties"
[Provide your feedback here]
Why are the Warnings and WriteBackCacheDiskIndex properties not documented?

[code]

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/MachineCreation/Get-ProvScheme/

[2022-02-23 14:52] katshann commented on #62
Hi Carl, apologies for the delay on responding to this. The latest docs should now reflect the 2112 version of the SDK. Cheers, Kat.

[2022-02-23 14:52] #62 closed, assigned to nobody

[2022-02-23 15:01] CarlWebster opened #69 "Property layout is difficult to read"
[Provide your feedback here]
I checked in Chrome, Edge, and Firefox and this is hard to read. The layout makes it difficult to separate the property names from the descriptive text.

![getprovscheme](https://user-images.githubusercontent.com/7387263/155345457-08bfc7e2-6834-4cb8-a5f1-1cab422d5387.png)

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/Ma

[2022-02-23 15:03] CarlWebster commented on #62
And in a couple of weeks, we will need updating to 2203! It is a never-ending battle. I feel for you.

Thanks

Carl Webster
Citrix Technology Professional Fellow | E2EVC Senator | IGEL VIP | Parallels VIPP | VMware vExpert | VMware vExpert EUC | VMware Influencer 100
http://www.CarlWebster.com<https://carlwebster.com/>
The Accidental Citrix Admin

From: Kat Shann ***@***.***>
Sent: Wednesday, Febr

[2022-02-23 15:13] katshann commented on #58
Hi Carl, I've had a look at this and #68 about the same article. Looks like the autogenerated markdown for this hasn't been updated for a while. I'll follow up internally with the developers to see what's happening with these properties. Cheers, Kat.

[2022-02-23 15:14] katshann commented on #68
Hi Carl, I've had a look at this and #58  about the same article. Looks like the autogenerated markdown for this hasn't been updated for a while. I'll follow up internally with the developers to see what's happening with these properties. Cheers, Kat.

[2022-02-23 15:21] katshann commented on #42
Internal issue raise for this (BRK-10552)

[2022-02-23 15:24] katshann commented on #46
Internal issue raised (BRK-10551)

[2022-02-23 15:32] katshann commented on #52
Hi Carl, this article got fixed in 2112. Thanks for the feedback. Cheers, Kat

[2022-02-23 15:32] #52 closed, assigned to katshann

[2022-02-23 15:37] katshann commented on #69
Hi Carl, thanks for the feedback. I'll raise this internally and see what we can do. Cheers, Kat

[2022-02-23 15:37] katshann commented on #69
Note to self: related to #42
Internal ref: BRK-10552

[2022-02-23 15:42] katshann commented on #60
Hi Carl, this is a great idea. I'll check with the folks who autogenerate these docs and see what can be done. Cheers, Kat

[2022-02-24 17:27] katshann commented on #58
Internal ref: PMCS-25899

[2022-02-24 17:27] katshann commented on #68
Internal ref: PMCS-25899

[2022-02-24 17:35] katshann commented on #60
Internal ref: BRK-10702

[2022-02-24 17:41] katshann commented on #59
Hi Carl, I've raised a ticket internally to get the information around this property improved in the SDK docs. Cheers, Kat

[2022-02-24 17:41] katshann commented on #59
Internal ref: BRK-10703

[2022-02-24 17:54] katshann commented on #57
Hi Carl, thanks for the feedback. Looks like this happens in some of the other articles as well. I'll raise it internally to get this looked into. Cheers, Kat.

Internal ref: BRK-10704

[2022-03-02 15:14] katshann commented on #57
Hi Carl, I've received an answer from engineering on this question:

Hope this is of help.  I'll have a look and see if there's a suitable place in the front part of these SDK docs to make note of this formatting convention.

[2022-03-02 15:16] CarlWebster commented on #57
Not everyone is a C#/ .Net developer. Maybe the use of the "?" should be explained somewhere?

[2022-03-02 15:18] katshann commented on #57
Indeed.  I'll have a look and see if there's a suitable place in the front part of these SDK docs to make note of this formatting convention.

[2022-03-07 11:25] rvanderkruk opened #70 "RegistrationDateTime"
[Provide your feedback here]
I would appreciate very much the option to query the last registration date/time for a VDA. I don't see that is possible right now.

I can also query the uptime of a machine and if I can link it to the last registration date/time for a VDA, I might find problems in the VDA registration process, which woudl be very helpful in some cases.

Docs URL:https://developer-docs

[2022-03-07 11:45] rvanderkruk commented on #70
I overlooke the option LastRegistrationTime

[2022-03-07 12:47] rvanderkruk commented on #70
but when I query a VDA, my collegue does see the option but I don't... Apparently it has to do with an outdated Powershell SDK. thanks

[2022-03-07 12:47] #70 closed, assigned to nobody

[2022-03-08 07:55] eziogong-git opened #71 "CSS missing for Citrix ADC command references"
Hi Team

From my local network in China and Citrix virtual app in Singapore when try to access
https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/appfw/appfw-commands/appfw-profile/
From developer tool's perspective we can see some js/css content in 404 state.
![image](https://user-images.githubusercontent.com/76672341/157190263-fcc30af7-4ef1-4542-85d8-27ec9c9ec007.p

[2022-03-09 17:59] bjmgeek opened #72 "please make method names hyperlinks showing their usage."
When browsing the documentation at

Docs URL:https://developer-docs.citrix.com/projects/citrix-hypervisor-sdk/en/latest/using/

I see lots of monospaced text such as `login_with_password`
![image](https://user-images.githubusercontent.com/460013/157502325-bece6893-6e79-4857-ab97-49d35dc9eda8.png)

It would be really useful to have that text be a hyperlink to the definition of that method with the

[2022-03-11 05:33] ghost opened #73 "libwebkitgtk"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/workspace-app-for-linux-oem-guide/en/latest/tools/

[2022-03-14 11:35] avinashkhatri-dev opened #74 "Wrong image give in classic password insertion"
[Provide your feedback here]
In doc it is said enable HTTP basic should be enabled but actualy in image it is not selected.

Docs URL:https://developer-docs.citrix.com/projects/workspace-app-for-linux-storebrowse-classic-password-insertion/en/latest/

[2022-03-15 11:50] CarlWebster opened #75 "InputOBject Limit"
[Provide your feedback here]
Is there a limit to the number of machines that can be in the InoutObject?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/Broker/Set-BrokerMachineMaintenanceMode/

[2022-03-15 11:54] CarlWebster opened #76 "Parallel or Sequential"
[Provide your feedback here]
If I have 100s or 1000s of machines in InputObject, are the operations perform sequentially or in parallel?

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/Broker/Set-BrokerMachineMaintenanceMode/

[2022-03-27 21:01] CarlWebster opened #77 "PVS PowerShell docs are TWO years behind"
[Provide your feedback here]
Citrix Provisioning Services 2003 PowerShell with Objects Programmer’s Guide

Isn't it time the docs were updated? I mean, PVS 2203 is out now.

Docs URL:https://developer-docs.citrix.com/projects/provisioning-services-powershell-object-programming-guide/en/latest/

[2022-04-06 16:14] katshann commented on #76
Hi Carl,  I'll see if I can get an answer on this one and raise an internal ticket to add the info to the SDK docs. Cheers!

[2022-04-06 16:17] katshann commented on #75
Hello. I'll see if I can find an answer for this one and raise an internal ticket to have the information added to the SDK docs. Cheers!

[2022-04-06 16:18] katshann commented on #72
Hello, I'll raise an internal ticket to see what can be done to add these. Cheers!

[2022-04-06 16:22] katshann commented on #13
Update to URL where problem seen:
https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/Monitor/Get-MonitorConfiguration/
Not fixed in 2203. Will chase.

[2022-04-06 16:27] katshann commented on #57
Note added at the bottom of the Overview article: https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2022-04-06 16:27] #57 closed, assigned to katshann

[2022-04-07 15:55] katshann commented on #76
I've received this answer:

Internal ticket raise to add to the SDK docs: BRK-10993

[2022-04-07 15:55] katshann commented on #75
I've received this answer:

Internal ticket raise to add to the SDK docs: BRK-10993

[2022-04-11 14:15] bjmgeek commented on #72
Thanks!

[2022-04-15 22:07] CarlWebster opened #78 "Where are the enum lists?"
[Provide your feedback here]
Why is there no documentation for the properties that are type enum?

CurrentScheduleState
UpgradeState
UpgradeType

Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/VdaUpdateService/Get-VusCatalogInfo/

[2022-04-18 12:52] CarlWebster opened #79 "Text formattng"
[Provide your feedback here]
Some of the text formatting is not correct. For example:

More comparisons are possible using advanced filtering with -Filter:

Get-<Noun> -Filter 'Capacity -ge 10gb' Get-<Noun> -Filter 'Age -ge 20 -and Age -lt 40' Get-<Noun> -Filter 'VolumeLevel -like "[123]"' Get-<Noun> -Filter 'Enabled -ne \$false' Get-<Noun> -Filter 'NullableProperty -ne \$null'

Which looks like i

[2022-04-18 13:43] CarlWebster opened #80 "-Filter is not working as expected"
[Provide your feedback here]
According to the help text on about_broker_filtering, I should be able to use both of these commands:

Get-BrokerPowerTimeScheme -DesktopGroupUid 83 -Filter {DaysOfWeek -ne "Weekdays"}
Get-BrokerPowerTimeScheme -DesktopGroupUid 83 -Filter {DaysOfWeek -ne "Weekdays" -and DaysOfWeek -ne "WeekEnd"}
Get-BrokerPowerTimeScheme -DesktopGroupUid 83 -Filter 'DaysOfWeek -ne "Wee

[2022-04-20 15:34] guyrleech opened #81 "Related Commands links are all broken"
As per CTP Slack chat https://citrixctp.slack.com/archives/C1ARNLG7N/p1650463995221969

All the links under Related Commands don't work because the related command is nested under the original page URL rather than being at the same level. For example the link on the page specified for Remove-BrokerHostingPowerAction goes to https://developer-docs.citrix.com/projects/delivery-controller-sdk/en/late

[2022-04-20 15:35] guyrleech opened #82 "URL has "latest" in title yet content headers say 7.15 which is far from latest"
URL has "latest" in title yet content headers say 7.15 which is far from latest and soon EOL

Docs URL:https://developer-docs.citrix.com/projects/delivery-controller-sdk/en/latest/Broker/Remove-BrokerHostingPowerAction/

[2022-04-25 20:17] rafaelpirolla opened #83 "Scrolling issue"
When navigating the API on the left the scrolling behaves strangely. Tried brave, edge and firefox. It seems the scrolling position is reset when the cursor leaves the area.

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/13/configuration/configuration/

[2022-04-26 15:43] PIP-ITSA opened #84 "Filtering by Multiple Tags"
Please could you add a section about filtering by Tag!
It was the most obvious method to use to differentiate groups of VDAs.
For example; Odds, Evens, Prod, Dev.
A VDA could be: Odds, Prod
or  Evens, Prod
or Evens, Dev
You would wish to perform different actions to the VDA based on these four tags but two each!
As a beginner, it took me an age to work out how to filter by multiple Tags!
Here you

[2022-04-27 10:18] katshann commented on #72
Hello, I've been through and added links to API items that are mentioned in the text of the guide. I think I got them all. Hope this is more helpful now. Cheers, Kat

[2022-04-27 10:18] #72 closed, assigned to katshann

[2022-06-03 16:19] guyrleech opened #85 "Page flashes when scrolling and left hand side links don't work"
Please see the video in the CTP Slack post

https://citrixctp.slack.com/archives/C1ARNLG7N/p1654273113050839

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/1811/Broker/Set-BrokerHostingPowerAction/

[2022-06-07 10:59] katshann commented on #85
Hello,

Thanks for raising this issue. We have an internal ticket open with the technical team and I shall follow up on that to see what the progress is.

Cheers,
Kat

Related issues: #30, #64, #83, #85
Internal ticket: DOCDEVSIT-255

[2022-06-07 11:00] katshann commented on #83
Hello,

Thanks for raising this issue. We have an internal ticket open with the technical team and I shall follow up on that to see what the progress is.

Cheers,
Kat

Related issues: #30, #64, #83, #85
Internal ticket: DOCDEVSIT-255

[2022-06-07 11:00] katshann commented on #64
Hello,

Thanks for raising this issue. We have an internal ticket open with the technical team and I shall follow up on that to see what the progress is.

Cheers,
Kat

Related issues: #30, #64, #83, #85
Internal ticket: DOCDEVSIT-255

[2022-06-07 11:57] katshann commented on #84
Hi Ian,
Thank you for your feedback. I've raised an internal case for the development team to address this.
Cheers,
Kat

Internal reference: BRK-11416

[2022-06-07 12:03] katshann commented on #80
Hi Carl,

Thank you for this feedback. I've raised a ticket with the development team to address this.

Cheers,
Kat

Internal reference: BRK-11417

[2022-06-07 12:12] katshann commented on #79
Hello,

Thanks for your feedback. I'll make sure this is updated in the next version of the docs.

Cheers,
Kat

[2022-06-11 09:20] jarabizna opened #86 "provide feedback button does not work"
using provide feedback button on devdocs page ends with error 500.

I tried use it on ADC page
https://github.com/citrix/devdocs-issue-collector/issues/new?labels=documentation&assignees=subbendumajumder&body=[Provide%20your%20feedback%20here]%0A%0A%0A%0ADocs%20URL:https%3A%2F%2Fdeveloper-docs.citrix.com%2Fprojects%2Fcitrix-adc-command-reference%2Fen%2Flatest%2F?labels=documentation&assignees=subb

[2022-06-14 13:04] katshann commented on #78
Internal ticket raised: https://issues.citrite.net/browse/BRK-11474

[2022-06-18 20:41] CarlWebster opened #87 "Get-BrokerCatalog -Name -AdminFolderName doesn't work"
[Provide your feedback here]

Using both -Name and -AdminFolderName isn't working.

[code]

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/Broker/Get-BrokerCatalog/

[2022-06-18 21:18] CarlWebster opened #88 "You broke a lot of cmdlets"
[Provide your feedback here]
Since Citrix added Machine Catalog Folders to DaaS, it breaks the functionality of other cmdlets.

Get-BrokerMachine -CatalogName "SomeCatalogName" only works if the catalog is not in a folder.

If the catalog is in a folder, use Get-BrokerMachine -CatalogName "MCFolder\SomeCatalogName".

I assume this same fix is needed for any cmdlet that uses -CatalogName.

This is

[2022-06-18 23:22] CarlWebster opened #89 "Missing Enum Definitions"
[Provide your feedback here]

Why are the enumerations for CurrentScheduleState, UpgradeState, and UpgradeTypenot defined? What are their possible values?

[code]
Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/VdaUpdateService/Get-VusCatalog/#citrixvdaupdateservicesdkupgradestate

[2022-06-18 23:52] CarlWebster opened #90 "Mising Enum Definitions"
[Provide your feedback here]

Why are the Enums not defined for UpgradeState and UpgradeType? What are their possible values?

Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/VdaUpdateService/Get-VusMachineInfo/

[2022-06-20 09:35] katshann commented on #90
Related to #78, #89,  #90

[2022-06-20 09:35] katshann commented on #89
Related to #78, #89,  #90

[2022-06-20 09:35] katshann commented on #90
Related to #78, #89,  #90

[2022-06-20 09:35] katshann commented on #78
Related to #78, #89,  #90

[2022-06-20 09:36] katshann commented on #89
Adding to internal ticket: https://issues.citrite.net/browse/BRK-11474

[2022-06-20 09:36] katshann commented on #90
Adding to internal ticket: https://issues.citrite.net/browse/BRK-11474

[2022-06-20 09:46] katshann commented on #88
Hi Carl, thanks for the feedback and the suggested text. I've raised a ticket with the team to get this added. Cheers, Kat

Internal ticket reference: BRK-11503

[2022-06-20 09:47] katshann commented on #90
Hi Carl, I have a ticket raised with the team to add this to the SDK docs and asked them to provide this info. I'll let you know the answer as soon as I get it (for this and related tickets). Cheers, Kat

[2022-06-20 10:23] katshann commented on #87
Hi Carl,
I asked the team about this and was advised that the command parameters might be wrong. Pasting response here:

get-brokercatalog -Name "Webster\Webster - VDA Upgrade Preview Test for Physical Catalog" -AdminFolderName "Webster\"
or (depending on what the user wanted):
get-brokercatalog -CatalogName "Webster - VDA Upgrade Preview Test for Physical Catalog" -AdminFolderName "Webster\"

Che

[2022-06-20 10:50] CarlWebster commented on #87
That is not what the help text states.

AdminFolderName (System.String) The name of the admin folder the catalog is in (**including trailing backslash**), or the empty string if the catalog is at the root level.

OK, this is weird, my original command now works. Maybe something had not been updated or replicated on the CC backend previously.

[code]

[2022-06-20 11:27] katshann commented on #87
Glad to hear it's working now. Apologies for the missing \ in the example I passed on. I think the engineer was concentrating on the syntax of the -Name parameter.
The initial failing command had ` -Name "Webster - VDA Upgrade Preview Test for Physical Catalog"` rather than ` -Name "Webster\Webster - VDA Upgrade Preview Test for Physical Catalog"` (with the prepend `Webster\`).
Does the command no

[2022-06-20 11:35] katshann commented on #87
If not, I can raise a ticket to expand the description of the -Name parameter to explicitly say that this is the full name or AdminFolderName+ CatalogName.

[2022-06-20 12:36] CarlWebster commented on #87
No.

[code]

[2022-06-20 12:41] katshann commented on #87
Good to know. Thanks for confirming.
I'll raise a ticket to make sure the description of the -Name param states that it needs to include the folder name.

[2022-06-28 23:05] nathanjoseph-psjh opened #91 "ADC SDX 12.1, 13.0, and 13.1 Command Reference Missing"
First, the Citrix ADC SDX Command Reference is not available through the modern Developer Docs website at all, there is no reference to it whatsoever on developer.cloud.com in the App Delivery and Security section.

Second, while the documentation does appear to still exist on the old developer-docs.citrix.com site, no version of the documentation exists since the 12.0 version. The docs.citrix.com

[2022-07-04 15:35] CarlWebster opened #92 "CVAD 2206"
[Provide your feedback here]
It is time to update for CVAD 2206

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/

[2022-07-05 09:23] katshann commented on #92
Hi Carl, thanks for the nudge. I set the process in motion last week to get these docs updated. I can't give a precise timeline, but hope to have this done soon.

[2022-07-12 07:48] StephenLanigan opened #93 "Use PowerShell SDK link broken"
Hi,

When you click on "use PowerShell SDK" link, it brings you yo a new page saying page not found. The URL for that is https://developer-docs.citrix.com/projects/citrix-daas/en/latest/group-policy-sdk-usage/#citrix-group-policy-provider .

This needs to be updated to https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/group-policy-sdk-usage/#citrix-group-policy-provider

Can you

[2022-07-13 13:57] katshann commented on #92
Now updated.

[2022-07-13 13:57] #92 closed, assigned to katshann

[2022-07-13 14:02] katshann commented on #90
Hi Carl, this looks like it's an issue in the docs being built out as the info does exist in the source. Issue is still being investigated and a fix didn't make it into 2206.
Here's the raw info though:
[code]
Cheers,
Kat

[2022-07-13 14:05] katshann commented on #89
Hi Carl, this looks like a docs build problem as the info is there in the source. Currently being investigated, but not fixed in 2206.
[code]

Cheers,
Kat

[2022-07-13 16:17] katshann commented on #78
Hi Carl,  this info is in the source, so we're looking at a doc build issue here. It's being investigated, but no update for 2206. I've pasted the info in one of the related tickets. Let me know if that answers your query as an interim measure.  Cheers, Kat

[2022-07-13 21:54] CarlWebster commented on #78
yes, it does

Carl Webster

Citrix Technology Professional Fellow | E2EVC Senator | IGEL VIP | Parallels VIPP | VMware vExpert 2021 |VMware vExpert EUC 2021 | VMware Influencer 100

http://www.CarlWebster.com<https://carlwebster.com/>

The Accidental Citrix Admin

________________________________
From: Kat Shann ***@***.***>
Sent: Wednesday, July 13, 2022 11:18:35 AM
To: citrix/devdocs-issue-colle

[2022-07-14 15:08] katshann commented on #79
Hi Carl, there are some spacing improvements for the filtering topics in the latest docs that should hopefully make this easier to read. Cheers, Kat

[2022-07-14 15:08] #79 closed, assigned to katshann

[2022-07-14 15:14] katshann commented on #68
Hi Carl,  from comments on the internal ticket and a quick eyeball of the article, I believe these two properties have now been added in the 2206 docs. Cheers, Kat

[2022-07-14 15:14] #68 closed, assigned to katshann

[2022-07-14 15:18] CarlWebster commented on #79
Thank you very much.

Thanks

Carl Webster
Citrix Technology Professional Fellow | E2EVC Senator | IGEL VIP | Parallels VIPP | VMware vExpert | VMware vExpert EUC | VMware Influencer 100
http://www.CarlWebster.com<https://carlwebster.com/>
The Accidental Citrix Admin

From: Kat Shann ***@***.***>
Sent: Thursday, July 14, 2022 10:09 AM
To: citrix/devdocs-issue-collector ***@***.***>
Cc: Webster ***

[2022-07-14 15:20] katshann commented on #58
Hi Carl,  I believe these properties are now documented in the latest version of the docs (now at https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/MachineCreation/Get-ProvScheme/) Cheers, Kat

[2022-07-14 15:20] #58 closed, assigned to katshann

[2022-07-14 15:20] CarlWebster commented on #68
With absolutely HORRIBLE formatting!!!

Warnings <Citrix.MachineCreation.Sdk.ProvSchemeWarning[]> Warning states that have occurred with this provisioning scheme. WriteBackCacheDiskIndex <int> The disk index for the write-back cache disk. Specify only when UseWriteBackCache is true.

[2022-07-14 15:23] CarlWebster commented on #58
With HORRIBLE formatting!

ResetAdministratorPasswords <bool> Indicates whether the passwords for administrator accounts are reset on created machines. ServiceOffering <string> The service offering that the scheme uses when creating VMs in Cloud Hypervisors. SecurityGroups <string[]> The security groups that will be applied to machines created in Cloud Hypervisors. TenancyType <string> Tenancy typ

[2022-07-14 15:24] katshann commented on #21
Fix in progress. Until then, some cleanup with a post-generation script has improved things.

[2022-07-14 15:28] katshann commented on #58
Indeed. There's a ticket to improve the formatting that is being worked.

 (Related to https://github.com/citrix/devdocs-issue-collector/issues/42
  Internal ref: BRK-10552)

[2022-07-14 15:32] katshann commented on #69
Hi Carl, the ticket to fix this output is progressing. However, I've done an interim fix that I hope improves things to some degree. Cheers, Kat

[2022-07-14 15:33] CarlWebster commented on #69
Better.

CleanOnBoot &lt;bool&gt; Indicates whether the VMs created will be reset to a clean state on each start.

ControllerAddress &lt;string[]&gt; The DNS names of the controllers associated with this provisioning scheme.

[2022-07-14 15:36] katshann commented on #68
Indeed. The formatting issue is being actively worked on. I've put an interim fix in for now. Hope this helps somewhat.

Tracking under https://github.com/citrix/devdocs-issue-collector/issues/42 (Internal ref: BRK-10552)

[2022-07-14 15:37] CarlWebster commented on #68
I do appreciate your efforts.

[2022-07-14 15:39] katshann commented on #68
Many thanks. Though I'm afraid my power in this matter is somewhat limited. I'm mostly a conduit for these docs and any related issues.

[2022-07-26 23:44] nathanjoseph-psjh opened #94 "PVS PowerShell - Cmdlet examples poorly formatted, invalid examples, and undocumented functionality"
The PVS PowerShell cmdlet examples are very hard to read, the UI of the portal is very troublesome compared to other SDKs documented on the development site, such as the CVAD PowerShell SDK. Please separate cmdlets into different pages in a fashion that matches the documentation other Citrix PowerShell SDKs with better explanation of the input parameters and return values.

Multiple cmdlet example

[2022-07-29 20:20] rolandosegura opened #95 "Incorrect example in the 'add locationFile' command"
### The example in the add locationFile command is wrong, it does contradicts the description of the 'format' flag and it just doesn't work

'Citrix ADC' is not a valid value for the 'format' flag (it is not in the list of allowed values, as this very same document states).

[code]

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/basic/locationFile/

[2022-08-09 09:40] MarksPoint opened #96 "Link to sample is dead"
The link to the example on this page is dead.

Docs URL:https://developer-docs.citrix.com/projects/workspace-app-for-html5-sdk/en/latest/sample/

[2022-08-12 22:19] Li900j opened #97 "Li900j@gmail.com"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-command-reference/en/latest/vpn/vpn-parameter/

[2022-08-23 09:24] RonaldGR opened #98 "Wrong syntax/characters in Example "4. In the Advanced Editor window, type the following query:""
[Provide your feedback here]

Wrong quotation marks for authorization

Is

          #”Authorization” = "<YourToken>",
          #"Citrix-CustomerId" = "<YourCustomerId"
should
           #"Authorization" = "<YourToken>",
           #"Citrix-CustomerId" = "<YourCustomerId"

Docs URL:https://developer-docs.citrix.com/projects/access-monitor-service-data-citrix-cloud/en/latest/#access-citrix-monitor

[2022-09-05 11:25] kingofDaniel opened #99 "hi😬"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/getting-started.md

[2022-09-14 17:26] guyrleech opened #100 "Unable to search for PowerShell cmdlet in verb-noun format"
Searching for "New-BrokerMachine" even in quotes returns results for "BrokerMachine" making it very difficult to find what I want - I get 530 results

![image](https://user-images.githubusercontent.com/11651939/190221682-bac2d793-d6b8-4ab7-9613-6a8cb6bafefa.png)

Docs URL:https://developer-docs.citrix.com/projects/citrix-virtual-apps-desktops-sdk/en/latest/MachineCreation/New-ProvVM/

[2022-09-15 14:58] JoeArpido opened #101 "Secure APIs"
Please change all URLs in the examples to https://

Docs URL:https://developer-docs.citrix.com/projects/citrix-adc-nitro-api-reference/en/latest/usecases/basic-load-balancing-usecase/

[2022-10-11 08:44] CarlWebster commented on #68
With absolutely HORRIBLE formatting!!!

Warnings <Citrix.MachineCreation.Sdk.ProvSchemeWarning[]> Warning states that have occurred with this provisioning scheme. WriteBackCacheDiskIndex <int> The disk index for the write-back cache disk. Specify only when UseWriteBackCache is true.

Thanks

Carl Webster
Citrix Technology Professional Fellow | E2EVC Senator | IGEL VIP | Parallels VIPP | VMware vEx

[2022-10-11 13:24] syph00n opened #102 "Invalid shortcut"
The following shortcut on the page doesn't work:

**Follow how to** [use PowerShell SDKs](https://developer-docs.citrix.com/projects/citrix-daas/en/latest/group-policy-sdk-usage/#citrix-group-policy-provider)

Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/

[2022-10-18 04:54] ZeffyReport opened #103 "Link on page leads to 404"
[Provide your feedback here]
'Use PowerShell SDKs' link (https://developer-docs.citrix.com/projects/citrix-daas/en/latest/group-policy-sdk-usage/#citrix-group-policy-provider) leads to page not found, so needs correcting.

Docs URL:https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/

[2022-10-26 15:21] katshann commented on #103
Hello. Thank you for your feedback. I'll look at getting this fixed ASAP. Cheers!

[2022-10-26 15:27] katshann commented on #100
Hello. Thanks for your feedback. I'll raise this with the team and see what can be done. Cheers!

[2022-10-26 15:41] katshann commented on #99
Hello. Thanks for alerting us to this missing article. I've removed the link to it. Cheers!

[2022-10-26 15:42] #103 closed, assigned to katshann

[2022-10-26 15:42] katshann commented on #103
Links should no longer be broken.

[2022-10-26 15:43] katshann commented on #102
Hello. This link should now be working on the live page, Cheers!

[2022-10-26 15:43] #102 closed, assigned to katshann

[2022-10-26 15:45] katshann commented on #93
Hello. This link should now be fixed. Cheers!

[2022-10-26 15:45] #93 closed, assigned to katshann

[2022-10-26 15:54] katshann commented on #88
Hi Carl,  the developers have marked this one as complete in 2209. They updated instances throughout to refer to "full path name" or "site-wide unique full path name". Hopefully this disambiguates things a little. Cheers!

[2022-10-26 15:54] #88 closed, assigned to katshann

[2022-10-26 16:01] katshann commented on #87
I just checked the 2209 docs and it looks like the -Name param info now mentions the need for containing folders. I'm going to close this ticket as done, but feel free to reopen if more is needed. Cheers!

[2022-10-26 16:01] #87 closed, assigned to katshann

[2022-11-09 23:58] ianpick opened #104 "Feedback on PeakConccurrentLicenseUsers"
[Provide your feedback here]
Hi team,

What is the time period for "The peak number of concurrent license users" in this parameter please? Is it over a defined time period like a month?
Ditto the value for Peak Users.

Cheers,
Ian.

Docs URL:https://developer-docs.citrix.com/projects/delivery-controller-sdk/en/latest/Broker/Get-BrokerSite/

[2022-11-14 19:53] TokenRing opened #105 "Typo in this document?"
[Provide your feedback here]

Hello, look at the example here - https://developer-docs.citrix.com/projects/storefront-powershell-sdk/en/latest/Export-STFStoreSubscriptions/#example-1-export-from-store-by-friendly-name - it is calling a cmdlet named **Export-DSStoreSubscriptions** which i don't believe exists. You probably meant Export-STFStoreSubscriptions?

EXAMPLE 1 Export from Store by friendly

[2022-11-18 17:57] joshtbernstein opened #106 "Citrix Group Policy Provider"
Could the "[Install the Citrix Group Policy Provider](https://developer-docs.citrix.com/projects/citrix-daas-sdk/en/latest/group-policy-sdk-usage/#install-the-citrix-group-policy-provider)" section of this document please be updated to specify that for Citrix Cloud deployments, the Citrix Group Policy Management (CitrixGroupPolicyManagement_x64.msi) needs to be installed from the CVAD ISO. It just